<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hometest.mybatis.mapper.CartMapper">
    <resultMap id="cartMap" type="com.hometest.mybatis.domain.Cart">
        <id property="id" column="id" />
        <result property="qty" column="qty" />
        <result property="userId" column="user_id" />
        <result property="productId" column="product_id" />

    </resultMap>

    <select id="getUserCart" resultMap="cartMap">
        SELECT *
        FROM cart
        WHERE user_id = #{userId}
    </select>

    <select id="getUserCartProduct" resultMap="cartMap">
        SELECT *
        FROM cart
        WHERE user_id = #{userId}
        AND product_id = #{productId}
    </select>

    <insert id="addToCart">
        INSERT INTO cart (qty, product_id, user_id)
        Values (#{qty}, #{productId}, #{userId})
    </insert>
    <delete id="removeFromCart">
        DELETE FROM Cart where id = #{cartId} and user_id = #{userId}
    </delete>
    <update id="updateCartQty" >
        UPDATE cart set qty = #{qty} WHERE id = #{id}
    </update>
</mapper>
