<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hometest.mybatis.mapper.ProductMapper">


    <resultMap id="productMap" type="com.hometest.mybatis.domain.Product">
        <result property="id" column="id" />
        <result property="code" column="product_code" />
        <result property="nameEn" column="name_en" />
        <result property="nameAr" column="name_ar" />
        <result property="summaryAr" column="summary_ar" />
        <result property="summaryEn" column="summary_en" />
        <result property="price" column="price" />
        <result property="createdDate" column="created_date" />
        <result property="createdBy" column="created_by" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedDate" column="updated_date" />
        <result property="isDeleted" column="is_deleted" />
        <result property="deletedDate" column="deleted_date" />

    </resultMap>
    <resultMap id="categoryMap" type="com.hometest.mybatis.domain.Category">
        <result property="id" column="id" />
        <result property="code" column="cat_code" />
        <result property="nameAr" column="cat_name_ar" />
        <result property="nameEn" column="cat_name_en" />
        <result property="descriptionAr" column="cat_description_ar" />
        <result property="descriptionEn" column="cat_description_en" />
        <result property="order" column="order" />
    </resultMap>

    <select id="getAllCategories" resultMap="categoryMap">
            SELECT *
            FROM categories
    </select>

    <select id="findProductById" resultMap="productMap">
        SELECT *
        FROM Products
        WHERE id = #{productId}
    </select>

    <select id="findProductByCategory" resultMap="productMap">
        SELECT
            p.*
        FROM products p
        INNER JOIN product_categories pc ON
        pc .product_id = p.id
        INNER JOIN categories c ON
        pc.category_id = c.id

        <include refid="ProductQueryAndCountWhereStatement"/>

        <if test="page != null">
            limit #{page.limit} offset #{page.offset}
        </if>
    </select>

    <sql id="ProductQueryAndCountWhereStatement">
        <where>
            <if test="catId != null">
                <if test="catId != null"> and pc.category_id = #{catId}</if>
            </if>
        </where>
    </sql>
</mapper>